@inject NavigationManager NavigationManager
@inject ITallyCounterService TallyCounterService

<div class="d-flex flex-column w-100">
    
    @if (items == null)
    {
        <pre>Loading....</pre>
    }
    else
    {
        <div class="tally-items mb-2">
            <ul class="list-group list-group-flush">
                @foreach (var item in items)
                {
                    <li class="list-group-item" @onclick="@(() => NavigationManager.NavigateTo($"/tally-counter/{item.Id}"))">
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <div class="flex-1 text-truncate mr-4">@item.Name</div>
                            <div class="list-arrow"><i class="fas fa-angle-double-right"></i></div>
                        </div>
                    </li>
                }

                @*<li class="list-group-item" @onclick="@(() => NavigationManager.NavigateTo("/tally-counter"))">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="flex-1">Cras justo odio</div>
                        <div class="list-arrow"><i class="fas fa-angle-double-right"></i></div>
                    </div>
                </li>

                <li class="list-group-item" @onclick="@(() => NavigationManager.NavigateTo("/tally-counter"))">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="flex-1">Cras justo odio</div>
                        <div class="list-arrow"><i class="fas fa-angle-double-right"></i></div>
                    </div>
                </li>

                <li class="list-group-item" @onclick="@(() => NavigationManager.NavigateTo("/tally-counter"))">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="flex-1">Cras justo odio</div>
                        <div class="list-arrow"><i class="fas fa-angle-double-right"></i></div>
                    </div>
                </li>*@
            </ul>
        </div>
    }
    

    @*<div class="tally-items-manage-row d-flex flex-row justify-content-center align-items-center">
      
    </div>*@

</div>

<button type="button" class="btnAdd ripple btn btn-outline-primary shadow btn-circle btn-lg animate__animated animate__slideInUp" data-toggle="tooltip" data-placement="top" title="AddItem"
        @onclick="@(() => NavigationManager.NavigateTo("/addtallycounteritem"))">
    <i class="fas fa-plus"></i>
</button>

@code
{
    private List<TallyCounterItem> items;
    protected override async Task OnInitializedAsync()
    {
        items = await TallyCounterService.GetTallyCounterItems();
    }
}
 